body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Pesquisar_Servidor_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:11px;
    top:285px;
    width:807px;
    height:381px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:807px;
    height:381px;
}

.u1 {
    position:absolute;
    left:2px;
    top:182px;
    width:803px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Pesquisar_Servidor_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:2px;
    width:826px;
    height:283px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:826px;
    height:283px;
}

.u3 {
    position:absolute;
    left:2px;
    top:134px;
    width:822px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:3px;
    top:701px;
    width:850px;
    height:280px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:109px;
    top:137px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:274px;
    top:182px;
    width:15px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:192px;
    top:396px;
    width:15px;
    height:15px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:694px;
    top:396px;
    width:15px;
    height:15px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:192px;
    top:434px;
    width:15px;
    height:15px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u15_container {
    position:absolute;
    left:192px;
    top:473px;
    width:15px;
    height:15px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:520px;
    top:512px;
    width:15px;
    height:15px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u18 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u19_container {
    position:absolute;
    left:200px;
    top:549px;
    width:15px;
    height:15px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u20 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Pesquisar_Servidor_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:717px;
    top:615px;
    width:15px;
    height:15px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Pesquisar_Servidor_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:765px;
    top:615px;
    width:27px;
    height:15px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:21px;
}

.u24 {
    position:absolute;
    left:2px;
    top:0px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:670px;
    top:869px;
    width:178px;
    height:60px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:66px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:174px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:652px;
    width:828px;
    height:26px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:594px;
    top:817px;
    width:100px;
    height:60px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

