body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:3px;
    width:827px;
    height:485px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:827px;
    height:485px;
}

.u1 {
    position:absolute;
    left:2px;
    top:234px;
    width:823px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:5px;
    top:586px;
    width:850px;
    height:252px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:187px;
    top:195px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:260px;
    top:274px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:187px;
    top:235px;
    width:15px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:187px;
    top:156px;
    width:15px;
    height:15px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:687px;
    top:156px;
    width:15px;
    height:15px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:706px;
    top:339px;
    width:15px;
    height:15px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:774px;
    top:339px;
    width:15px;
    height:15px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u16 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Pesquisar_Servidor___Listar_Servidor_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:779px;
    top:411px;
    width:15px;
    height:15px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u18 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:501px;
    top:747px;
    width:191px;
    height:26px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:32px;
}

.u20 {
    position:absolute;
    left:2px;
    top:5px;
    width:187px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

