body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:184px;
    width:812px;
    height:1301px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:812px;
    height:1301px;
}

.u1 {
    position:absolute;
    left:2px;
    top:642px;
    width:808px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:5px;
    top:1531px;
    width:850px;
    height:966px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:724px;
    top:1477px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:774px;
    top:1477px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:668px;
    top:868px;
    width:15px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:668px;
    top:906px;
    width:15px;
    height:15px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:621px;
    top:2000px;
    width:176px;
    height:39px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:45px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:172px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:635px;
    top:2459px;
    width:130px;
    height:60px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Logo_e_Menu___Usuario_Logado_files/u17_normal.png');
}

.u15_container {
    position:absolute;
    left:2px;
    top:2px;
    width:825px;
    height:172px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:825px;
    height:172px;
}

.u16 {
    position:absolute;
    left:2px;
    top:78px;
    width:821px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u18_container {
    position:absolute;
    left:2px;
    top:1495px;
    width:828px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Pesquisar_Servidor___Dados_Funcionais___Incluir_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:323px;
    top:379px;
    width:15px;
    height:15px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:361px;
    top:2337px;
    width:270px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

