body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Visualizar___Dependentes_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:529px;
    width:709px;
    height:381px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:709px;
    height:381px;
}

.u1 {
    position:absolute;
    left:2px;
    top:182px;
    width:705px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:6px;
    top:910px;
    width:850px;
    height:98px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Visualizar___Dependentes_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:678px;
    top:898px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:438px;
    top:990px;
    width:220px;
    height:21px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:27px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Visualizar___Dependentes_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:3px;
    top:2px;
    width:723px;
    height:530px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:723px;
    height:530px;
}

.u8 {
    position:absolute;
    left:2px;
    top:257px;
    width:719px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

