body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Listar_Unidade_Organizacional_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:37px;
    top:172px;
    width:753px;
    height:400px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:753px;
    height:400px;
}

.u1 {
    position:absolute;
    left:2px;
    top:192px;
    width:749px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:2px;
    top:609px;
    width:850px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Listar_Unidade_Organizacional_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:165px;
    top:467px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Listar_Unidade_Organizacional_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:203px;
    top:485px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:665px;
    top:698px;
    width:182px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:7px;
    width:178px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:734px;
    top:731px;
    width:209px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:215px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Logo_e_Menu___Usuario_Logado_files/u17_normal.png');
}

.u11_container {
    position:absolute;
    left:3px;
    top:3px;
    width:825px;
    height:172px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:825px;
    height:172px;
}

.u12 {
    position:absolute;
    left:2px;
    top:78px;
    width:821px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u14_container {
    position:absolute;
    left:1px;
    top:565px;
    width:828px;
    height:26px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

