body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Incluir___Cessao_Requisi_ao_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:2px;
    width:761px;
    height:549px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:761px;
    height:549px;
}

.u1 {
    position:absolute;
    left:2px;
    top:266px;
    width:757px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:6px;
    top:590px;
    width:685px;
    height:518px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Incluir___Cessao_Requisi_ao_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:649px;
    top:543px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Incluir___Cessao_Requisi_ao_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:707px;
    top:543px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:329px;
    top:862px;
    width:255px;
    height:29px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:261px;
    height:35px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:251px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

