body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Editar___Afastamento_Ocorrencia_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:3px;
    width:741px;
    height:609px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:741px;
    height:609px;
}

.u1 {
    position:absolute;
    left:2px;
    top:296px;
    width:737px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:4px;
    top:621px;
    width:850px;
    height:364px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Editar___Afastamento_Ocorrencia_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:628px;
    top:469px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Editar___Afastamento_Ocorrencia_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:686px;
    top:469px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:491px;
    top:967px;
    width:294px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:343px;
    top:856px;
    width:294px;
    height:18px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:300px;
    height:24px;
}

.u10 {
    position:absolute;
    left:2px;
    top:1px;
    width:290px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

