body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Visualizar___Afastamento_Ocorrencia_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:2px;
    width:741px;
    height:609px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:741px;
    height:609px;
}

.u1 {
    position:absolute;
    left:2px;
    top:296px;
    width:737px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:5px;
    top:624px;
    width:738px;
    height:98px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Visualizar___Afastamento_Ocorrencia_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:696px;
    top:468px;
    width:15px;
    height:15px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:469px;
    top:704px;
    width:308px;
    height:21px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:314px;
    height:27px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

