body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Listar_Servidor_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:198px;
    width:826px;
    height:488px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:826px;
    height:488px;
}

.u1 {
    position:absolute;
    left:2px;
    top:236px;
    width:822px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Logo_e_Menu___Usuario_Logado_files/u17_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:2px;
    width:825px;
    height:172px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:825px;
    height:172px;
}

.u3 {
    position:absolute;
    left:2px;
    top:78px;
    width:821px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:6px;
    top:775px;
    width:850px;
    height:154px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Listar_Servidor_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:725px;
    top:603px;
    width:15px;
    height:15px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Listar_Servidor_files/u6_normal.png');
}

.u8_container {
    position:absolute;
    left:782px;
    top:603px;
    width:15px;
    height:15px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Listar_Servidor_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:771px;
    top:532px;
    width:15px;
    height:15px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:667px;
    top:883px;
    width:176px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:594px;
    top:854px;
    width:155px;
    height:22px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:28px;
}

.u15 {
    position:absolute;
    left:2px;
    top:3px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:603px;
    top:911px;
    width:268px;
    height:21px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:274px;
    height:27px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:264px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:704px;
    width:828px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

