body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Logo_e_Menu___Usuario_Logado_files/u17_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:2px;
    width:825px;
    height:172px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:825px;
    height:172px;
}

.u1 {
    position:absolute;
    left:2px;
    top:78px;
    width:821px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Editar___Cargo_Fun_ao_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:187px;
    width:810px;
    height:1126px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:810px;
    height:1126px;
}

.u4 {
    position:absolute;
    left:2px;
    top:555px;
    width:806px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Editar___Cargo_Fun_ao_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:723px;
    top:1306px;
    width:15px;
    height:15px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Editar___Cargo_Fun_ao_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:773px;
    top:1306px;
    width:15px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u9_container {
    position:absolute;
    left:2px;
    top:1324px;
    width:828px;
    height:26px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:5px;
    top:1362px;
    width:850px;
    height:630px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:635px;
    top:1953px;
    width:130px;
    height:60px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:66px;
}

.u14 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:541px;
    top:1855px;
    width:130px;
    height:60px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:66px;
}

.u16 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

