body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Editar_Institui_ao_de_Ensino_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:2px;
    top:176px;
    width:819px;
    height:502px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:819px;
    height:502px;
}

.u1 {
    position:absolute;
    left:2px;
    top:243px;
    width:815px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:6px;
    top:719px;
    width:850px;
    height:308px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u3_container {
    position:absolute;
    left:549px;
    top:951px;
    width:183px;
    height:24px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:30px;
}

.u4 {
    position:absolute;
    left:2px;
    top:4px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u5_container {
    position:absolute;
    left:703px;
    top:1007px;
    width:183px;
    height:24px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:30px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Editar_Institui_ao_de_Ensino_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:768px;
    top:649px;
    width:15px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Editar_Institui_ao_de_Ensino_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:718px;
    top:649px;
    width:15px;
    height:15px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u10 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Versao_Sistema_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:2px;
    top:682px;
    width:828px;
    height:26px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:828px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:5px;
    width:824px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Logo_e_Menu___Usuario_Logado_files/u17_normal.png');
}

.u14_container {
    position:absolute;
    left:2px;
    top:3px;
    width:825px;
    height:172px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:825px;
    height:172px;
}

.u15 {
    position:absolute;
    left:2px;
    top:78px;
    width:821px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

